In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv('clean_df.csv')
df.head()

,index,Expected Salary,CGPA,10th Percentage,12th Percentage,Branch,Certifications,Level of Participation,Communication Proficiency,Programming Languages,Extraversion,Agreeableness,Openness,Conscientiousness,Neuroticism,Attendance %,Employeed
0,1,31554.87,6.60,54.45,65.31,0,0,0,3,1,3,3,4,1,2,74,0
1,2,34036.10,5.29,79.49,47.68,1,0,0,10,2,3,5,2,2,1,83,0
2,3,33612.89,7.72,97.39,90.26,2,0,0,5,2,3,3,4,1,3,71,0
3,4,21501.30,7.41,78.13,81.61,2,1,0,10,1,2,5,2,4,2,93,1
4,5,30828.03,8.61,54.91,76.71,3,0,0,8,3,4,5,5,4,3,60,1

In [15]:
df['Branch'] = pd.Series(df['Branch'], dtype='float64')
df['Certifications'] = pd.Series(df['Certifications'], dtype='float64')
df['Level of Participation'] = pd.Series(df['Level of Participation'], dtype='float64')
df['Communication Proficiency'] = pd.Series(df['Communication Proficiency'], dtype='float64')
df['Programming Languages'] = pd.Series(df['Programming Languages'], dtype='float64')
df['Extraversion'] = pd.Series(df['Extraversion'], dtype='float64')
df['Agreeableness'] = pd.Series(df['Agreeableness'], dtype='float64')
df['Openness'] = pd.Series(df['Openness'], dtype='float64')
df['Conscientiousness'] = pd.Series(df['Conscientiousness'], dtype='float64')
df['Neuroticism'] = pd.Series(df['Neuroticism'], dtype='float64')
df['Attendance %'] = pd.Series(df['Attendance %'], dtype='float64')
df['Employeed'] = pd.Series(df['Employeed'], dtype='float64')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
index                        10000 non-null int64
Expected Salary              10000 non-null float64
CGPA                         10000 non-null float64
10th Percentage              10000 non-null float64
12th Percentage              10000 non-null float64
Branch                       10000 non-null float64
Certifications               10000 non-null float64
Level of Participation       10000 non-null float64
Communication Proficiency    10000 non-null float64
Programming Languages        10000 non-null float64
Extraversion                 10000 non-null float64
Agreeableness                10000 non-null float64
Openness                     10000 non-null float64
Conscientiousness            10000 non-null float64
Neuroticism                  10000 non-null float64
Attendance %                 10000 non-null float64
Employeed                    10000 non-null float64
dtypes: float64(16), int64(1)
memory usage: 1.3 MB