In [7]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_excel('data.xlsx')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
Name                         10000 non-null object
E-mail                       10000 non-null object
Preferred Position           10000 non-null object
Expected Salary              10000 non-null object
Skills                       10000 non-null object
CGPA                         10000 non-null float64
10th Percentage              10000 non-null float64
12th Percentage              10000 non-null float64
Branch                       10000 non-null object
Certifications               1970 non-null float64
Level of Participation       975 non-null object
Communication Proficiency    10000 non-null int64
Programming Languages        10000 non-null object
Extraversion                 10000 non-null int64
Agreeableness                10000 non-null int64
Openness                     10000 non-null int64
Conscientiousness            10000 non-null int64
Neuroticism                  10000 non-null int64
Attendance %                 10000 non-null int64
Employeed                    1000 non-null float64
dtypes: float64(5), int64(7), object(8)
memory usage: 1.5+ MB

In [36]:
df['index'] = df.index

In [27]:
df.head()

,Name,E-mail,Preferred Position,Expected Salary,Skills,CGPA,10th Percentage,12th Percentage,Branch,Certifications,...,Communication Proficiency,Programming Languages,Extraversion,Agreeableness,Openness,Conscientiousness,Neuroticism,Attendance %,Employeed,index
0,Tabor Fomichyov,tfomichyov0@opensource.org,Office Assistant IV,$31554.87,Clinical Nutrition,6.60,54.45,65.31,IT,NaN,...,3,C++,3,3,4,1,2,74,0.0,0
1,Binnie Warhurst,bwarhurst1@ning.com,Account Coordinator,$34036.10,MySQL Cluster,5.29,79.49,47.68,Mechanical,NaN,...,10,Python,3,5,2,2,1,83,0.0,1
2,Hatty Dewbury,hdewbury2@umn.edu,Assistant Media Planner,$33612.89,Alumni Relations,7.72,97.39,90.26,Telecomm,NaN,...,5,Python,3,3,4,1,3,71,0.0,2
3,Wallas Van Rembrandt,wvan3@google.ru,Legal Assistant,$21501.30,Gstreamer,7.41,78.13,81.61,Telecomm,1.0,...,10,C++,2,5,2,4,2,93,1.0,3
4,Clayton Durning,cdurning4@shop-pro.jp,Analog Circuit Design manager,$30828.03,Political Risk Analysis,8.61,54.91,76.71,Civil,NaN,...,8,Java,4,5,5,4,3,60,1.0,4

In [28]:
cols = df.columns.tolist()

In [29]:
cols

['Name ',
 'E-mail',
 'Preferred Position',
 'Expected Salary',
 'Skills',
 'CGPA',
 '10th Percentage',
 '12th Percentage',
 'Branch',
 'Certifications',
 'Level of Participation',
 'Communication Proficiency',
 'Programming Languages',
 'Extraversion',
 'Agreeableness',
 'Openness',
 'Conscientiousness',
 'Neuroticism',
 'Attendance %',
 'Employeed',
 'index']

In [30]:
cols = cols[-1:] + cols[:-1]

In [31]:
cols

['index',
 'Name ',
 'E-mail',
 'Preferred Position',
 'Expected Salary',
 'Skills',
 'CGPA',
 '10th Percentage',
 '12th Percentage',
 'Branch',
 'Certifications',
 'Level of Participation',
 'Communication Proficiency',
 'Programming Languages',
 'Extraversion',
 'Agreeableness',
 'Openness',
 'Conscientiousness',
 'Neuroticism',
 'Attendance %',
 'Employeed']

In [32]:
df = df[cols]

In [33]:
df.head()

,index,Name,E-mail,Preferred Position,Expected Salary,Skills,CGPA,10th Percentage,12th Percentage,Branch,...,Level of Participation,Communication Proficiency,Programming Languages,Extraversion,Agreeableness,Openness,Conscientiousness,Neuroticism,Attendance %,Employeed
0,0,Tabor Fomichyov,tfomichyov0@opensource.org,Office Assistant IV,$31554.87,Clinical Nutrition,6.60,54.45,65.31,IT,...,NaN,3,C++,3,3,4,1,2,74,0.0
1,1,Binnie Warhurst,bwarhurst1@ning.com,Account Coordinator,$34036.10,MySQL Cluster,5.29,79.49,47.68,Mechanical,...,NaN,10,Python,3,5,2,2,1,83,0.0
2,2,Hatty Dewbury,hdewbury2@umn.edu,Assistant Media Planner,$33612.89,Alumni Relations,7.72,97.39,90.26,Telecomm,...,NaN,5,Python,3,3,4,1,3,71,0.0
3,3,Wallas Van Rembrandt,wvan3@google.ru,Legal Assistant,$21501.30,Gstreamer,7.41,78.13,81.61,Telecomm,...,NaN,10,C++,2,5,2,4,2,93,1.0
4,4,Clayton Durning,cdurning4@shop-pro.jp,Analog Circuit Design manager,$30828.03,Political Risk Analysis,8.61,54.91,76.71,Civil,...,NaN,8,Java,4,5,5,4,3,60,1.0

In [37]:
df['index']=df['index']+1

In [38]:
df.head()

,index,Name,E-mail,Preferred Position,Expected Salary,Skills,CGPA,10th Percentage,12th Percentage,Branch,...,Level of Participation,Communication Proficiency,Programming Languages,Extraversion,Agreeableness,Openness,Conscientiousness,Neuroticism,Attendance %,Employeed
0,1,Tabor Fomichyov,tfomichyov0@opensource.org,Office Assistant IV,$31554.87,Clinical Nutrition,6.60,54.45,65.31,IT,...,NaN,3,C++,3,3,4,1,2,74,0.0
1,2,Binnie Warhurst,bwarhurst1@ning.com,Account Coordinator,$34036.10,MySQL Cluster,5.29,79.49,47.68,Mechanical,...,NaN,10,Python,3,5,2,2,1,83,0.0
2,3,Hatty Dewbury,hdewbury2@umn.edu,Assistant Media Planner,$33612.89,Alumni Relations,7.72,97.39,90.26,Telecomm,...,NaN,5,Python,3,3,4,1,3,71,0.0
3,4,Wallas Van Rembrandt,wvan3@google.ru,Legal Assistant,$21501.30,Gstreamer,7.41,78.13,81.61,Telecomm,...,NaN,10,C++,2,5,2,4,2,93,1.0
4,5,Clayton Durning,cdurning4@shop-pro.jp,Analog Circuit Design manager,$30828.03,Political Risk Analysis,8.61,54.91,76.71,Civil,...,NaN,8,Java,4,5,5,4,3,60,1.0

In [43]:
df.to_csv('df.csv')